@charset "ISO-8859-1";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


body{
	margin-top:20px;
	background:#eee;
	margin: 0 auto;
	background-image: url(../images/bg5.jpg);
	background-size: cover; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

.card {
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}